nav {
    background-color: black;
    color: white;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;

}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;

}

nav li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

nav li a:hover {
    font-weight: bold;
    text-decoration: none;
    color: white;
}